
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Python</title>
</head>
<body>
    <!--<form action="#" target="_self" >
        <p><b>Введите данные:</b></p>
        <p><input type="text" name="in_data"></p>
        <p><input type="submit" value="Отправить данные"></p>
    </form>-->

    <div class="wrapper">
        <div class="form">
            <form action="#" id="form" form="form__body" method="POST">
                <h1 class="form__title">Отправка данных на сервер</h1>
                <div class="form__item">
                    <label for="formData" class="form__label">Введите запрос:</label>
                    <input id="formData" type="text" name="data" class="form__input">
                </div>
                <button type="submit" name="request_button" class="form__button">Отправить данные</button>
            </form>
        </div>
    </div>
</body>
</html>

  